body {
  display: flex;
  min-height: 100vh;
}

main{
  width: 35vw;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Using classes in inline SVG change the fill color-make the top of pumpkin turn from black to orange
and stroke purple*/
.pumpkintop {
  fill: #FF813A;
  stroke: rgb(126, 0, 151);
}

/* Using classes in inline SVG  to make body's stroke purple*/
.body {
  stroke: rgb(126, 0, 151);
}

/* light the pumpkin make the eyes and mouth turn from black to warm yellow 
make the stroke purple*/
.light {
  fill: #e4ab43;
  stroke: rgb(126, 0, 151);
}

/* make it pretty */

h1 {
  color: rgb(126, 0, 151);
}

button {
  font-size: 24px;
  border-radius: 1em;
  margin-top: 50px;
  color: white;
  background-color: rgb(81, 0, 105);
}
